
#autocomplete {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#suggestions {
    list-style-type: none;
    background-color: #ffffff;
    padding: 0;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    color: #000;
}

#suggestions li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#suggestions li:last-child {
    border-bottom: none;
}

#suggestions li:hover {
    background-color: #f7f7f7;
}

#suggestions::-webkit-scrollbar {
    width: 10px;
  }
  
  #suggestions::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
    border-radius: 10px;
  }
  
  #suggestions::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: linear-gradient(180deg, #00c6fb, #005bea);
  }
