
.form-group {
    margin-bottom: 20px;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #eee;
}

#suggestions li:hover {
    background-color: #f5f5f5;
}

/* 
map and the cards style - will bemoved to the separate file  */

.map-bg {
    opacity: 0.3;
    height: 100%; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; 
}


.card-style {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 30px;
    width: 80%; 
    height: 90%;
}

.card-style:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    color: #666;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 4px;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
}